<div style="width: 210px;">
    <span style="color: #46815e; font-family: math; text-align: left;">Ricorda giorno</span>&nbsp;
    <input type="checkbox" [checked]="rimetteGiornoSelezionato" (click)="cambioRicordaGiorno()" /><br />
    <div style="margin-top: 5px">
        <app-calendario
            [Utils]="Utils"
            [apreConHover]="false"
            [chiusuraAutomatica]="false"
            [dataPassata]="dataAttuale"
            [larghezzaData]="200"

            (dataSelezionata)="impostaData($event)"
        >
        </app-calendario>
    </div>
</div>
