<div class="contenitore">
    <div *ngIf="datiGiornata" class="header">
        <!-- HEADER -->
        <div class="blocco" style="overflow: hidden; border: 1px solid #999; border-radius: 3px; height: calc(100% - 6px); 
            background-color: #f3fff5;">
            <div style="float: left; height: calc(100% - 3px); text-align: left; overflow: hidden;"
                [style.width]="schermoPiccolo ? 'calc(100% - 30px)' : 'calc(100% - 260px)'"
            >
                <span class="titolone" (click)="mostraCalendario = true"
                    [style.font-size]="schermoPiccolo ? '8vw' : '4vw'"
                >
                    {{numeroGiornoAttuale}} {{nomeGiornoAttuale}}
                </span>
                <!-- <div style="width: 15%; float: left; height: 100%;">
                    <span class="titolone" (click)="mostraCalendario = true">{{numeroGiornoAttuale}}</span>
                </div>
                <div style="width: 85%; float: left; height: 100%; text-align: left;">
                    <div style="width: 100%; height: 50%; float: left; text-align: left;">
                        <span class="titolo" (click)="mostraCalendario = true">{{nomeGiornoAttuale}}</span>
                    </div>
                    <div style="width: 100%; height: 50%; float: left;">
                        <div class="blocco" style="margin-left: 3px; margin-right: 3px; font-size: 10px; text-align: left; background-color: #fffdda;" 
                            [innerHTML]="ricorrenze">
                        </div>
                    </div>
                </div> -->
            </div>
    
            <div *ngIf="schermoPiccolo" style="float: left; height: calc(100% - 6px);"
                [style.width]="schermoPiccolo ? '30px' : '0px'"
            >
                <img src="assets/immagini/icona-OPZIONI.png" class="immagine" (click)="apriSettings()" />
            </div>
    
            <div *ngIf="!schermoPiccolo" style="float: left; height: calc(100% - 6px); width: 260px;">
                <!-- <div class="blocco">
                    <span class="titoloSanto">
                        S. {{datiGiornata.Santo}}<br />
                        Giorno dell'anno {{giornoDellAnno}}
                    </span>
                </div> -->
                <modificagiorno-component
                    [Utils]="Utils"
                    [dataAttuale]="dataAttuale"
                    [rimetteGiornoSelezionato]="rimetteGiornoSelezionato"

                    (cambioRicordaGiornoEmit)="cambioImpostazioni($event)"
                >
                </modificagiorno-component>
            </div>
        </div>
    </div>

    <div *ngIf="datiGiornata" class="corpo">
        <div style="width: 100%; height: calc(30% - 6px); float: left; background-color: aliceblue;">
            <div style="width: calc(30% - 23px);
                float: left;
                height: calc(100% - 13px);
                padding: 3px;
                margin: 3px;
                border: 1px solid #999;
                background-color: #e8ffeb;
                -webkit-box-shadow: 1px 1px 8px 0px #000000; 
                box-shadow: 1px 1px 8px 0px #000000;
                border-radius: 3px;"
            >
                <div style="width: 100%; height: 19px; text-align: center;">
                    <div  class="sfondoTitolo">
                        Tipo Giornata
                    </div>
                </div>

                <div class="blocco" style="height: calc(100% - 26px); margin-top: 2px; opacity: .75;"
                    [style.background-position]="immagineLavoro ? 'right' : ''"
                    [style.background-size]="immagineLavoro ? 'contain' : ''"
                    [style.background-repeat]="immagineLavoro ? 'no-repeat' : ''"
                    [style.background-image]="immagineLavoro ? 'url(' + immagineLavoro + ')' : ''"
                >
                    <div class="riga">
                        <div *ngIf="!modalitaInsert && tipoOre != 1 && tipoOre != 5" class="riga">
                            {{oreLavorate}}
                        </div>
    
                        <div *ngIf="!modalitaInsert && tipoOre == 1" class="riga">
                            {{titoloTipoGiornata[0]}}
                        </div>

                        <div *ngIf="modalitaInsert" style="opacity: .75;">
                            <table style="width: 100%;" cellapdding="0" cellspacing = "0">
                                <tr>
                                    <td class="tdDispara" style="width: 20%;">{{titoloTipoGiornata[0]}}</td>
                                    <td class="tdDispara" style="width: 80%; text-align: left;"><input type="checkbox" [checked]="tipoOre == 1" (click)="cambioTipoOre(1)" /></td>
                                </tr>
                                <tr>
                                    <td class="tdPara" style="width: 20%;">{{titoloTipoGiornata[1]}}</td>
                                    <td class="tdPara" style="width: 80%; text-align: left;"><input type="checkbox" [checked]="tipoOre == 2" (click)="cambioTipoOre(-2)" /></td>
                                </tr>
                                <tr>
                                    <td class="tdDispara" style="width: 20%;">{{titoloTipoGiornata[2]}}</td>
                                    <td class="tdDispara" style="width: 80%; text-align: left;"><input type="checkbox" [checked]="tipoOre == 3" (click)="cambioTipoOre(-3)" /></td>
                                </tr>
                                <tr>
                                    <td class="tdPara" style="width: 20%;">{{titoloTipoGiornata[3]}}</td>
                                    <td class="tdPara" style="width: 80%; text-align: left;"><input type="checkbox" [checked]="tipoOre == 4" (click)="cambioTipoOre(-4)" /></td>
                                </tr>
                                <tr>
                                    <td class="tdDispara" style="width: 20%;">{{titoloTipoGiornata[4]}}</td>
                                    <td class="tdDispara" style="width: 80%; text-align: left;"><input type="checkbox" [checked]="tipoOre == 5" (click)="cambioTipoOre(-5)" /></td>
                                </tr>
                                <tr>
                                    <td class="tdPara" style="width: 20%;">{{titoloTipoGiornata[5]}}</td>
                                    <td class="tdPara" style="width: 80%; text-align: left;"><input type="checkbox" [checked]="tipoOre == 6" (click)="cambioTipoOre(-6)" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>             
            </div>

            <div style="width: calc(40% - 7px);
                float: left;
                height: calc(100% - 13px);
                padding: 3px;
                margin: 3px;
                border: 1px solid #999;
                background-color: #e8ffeb;
                -webkit-box-shadow: 1px 1px 8px 0px #000000; 
                box-shadow: 1px 1px 8px 0px #000000;
                border-radius: 3px;"
            >
                <div style="width: 100%; height: 19px; text-align: center;">
                    <div  class="sfondoTitolo">
                        Dettaglio Giornata
                    </div>
                </div>

                <!-- DETTAGLIO GIORNATA -->
                <div *ngIf="tipoOre == 1 || tipoOre == 5" class="blocco" style="height: calc(100% - 26px); margin-top: 2px; opacity: .75;"
                    [style.background-position]="immagineLavoro ? 'right' : ''"
                    [style.background-size]="immagineLavoro ? 'contain' : ''"
                    [style.background-repeat]="immagineLavoro ? 'no-repeat' : ''"
                    [style.background-image]="immagineLavoro ? 'url(' + immagineDettaglio + ')' : ''"
                >
                    <div *ngIf="tipoOre == 5" class="riga">
                        <!-- N0;P8;M0;R0;S0 -->
                        <div style="width: 30%; float: left; white-space: nowrap; overflow: hidden;">
                            {{titoloDettaglio[0]}}
                        </div>
                        <div style="width: 70%; float: left;">
                            <div *ngIf="!modalitaInsert">
                                {{oreLavorateMiste}}
                            </div>
                            <div *ngIf="modalitaInsert">
                                <input type="text" [(ngModel)]="oreLavorateMiste" style="width: 50%;" />
                            </div>
                        </div>
                        <div style="clear: both"></div>

                        <div style="width: 30%; float: left; white-space: nowrap; overflow: hidden;">
                            {{titoloDettaglio[1]}}
                        </div>
                        <div style="width: 70%; float: left;">
                            <div *ngIf="!modalitaInsert">
                                {{orePermessiMiste}}
                            </div>
                            <div *ngIf="modalitaInsert">
                                <input type="text" [(ngModel)]="orePermessiMiste" style="width: 50%;" />
                            </div>
                        </div>
                        <div style="clear: both"></div>

                        <div style="width: 30%; float: left; white-space: nowrap; overflow: hidden;">
                            {{titoloDettaglio[2]}}
                        </div>
                        <div style="width: 70%; float: left;">
                            <div *ngIf="!modalitaInsert">
                                {{oreMalattiaMiste}}
                            </div>
                            <div *ngIf="modalitaInsert">
                                <input type="text" [(ngModel)]="oreMalattiaMiste" style="width: 50%;" />
                            </div>
                        </div>
                        <div style="clear: both"></div>

                        <!-- <div style="width: 30%; float: left;">
                            R:
                        </div>
                        <div style="width: 70%; float: left;">
                            <div *ngIf="!modalitaInsert">
                                {{oreLavorate}}
                            </div>
                            <div *ngIf="modalitaInsert">
                                <input type="text" [(ngModel)]="orePermessiMiste" style="width: 50%;" />
                            </div>
                        </div>
                        <div style="clear: both"></div> -->

                        <div style="width: 30%; float: left; white-space: nowrap; overflow: hidden;">
                            {{titoloDettaglio[3]}}
                        </div>
                        <div style="width: 70%; float: left;">
                            <div *ngIf="!modalitaInsert">
                                {{oreSolidarietaMiste}}
                            </div>
                            <div *ngIf="modalitaInsert">
                                <input type="text" [(ngModel)]="oreSolidarietaMiste" style="width: 50%;" />
                            </div>
                        </div>
                        <div style="clear: both"></div>
                    </div>

                    <div *ngIf="tipoOre == 1" class="riga">
                        <div style="width: 30%; float: left; white-space: nowrap; overflow: hidden;">
                            {{titoloDettaglio[4]}}
                        </div>
                        <div style="width: 70%; float: left;">
                            <div *ngIf="!modalitaInsert">
                                {{oreLavorate}}
                            </div>
                            <div *ngIf="modalitaInsert">
                                <input type="text" [(ngModel)]="oreLavorate" style="width: 50%;" />
                            </div>
                        </div>
                    </div>
                    <br />

                    <div *ngIf="tipoOre == 1 || tipoOre == 5" class="riga">
                        <div style="width: 30%; float: left; white-space: nowrap; overflow: hidden;">
                            {{titoloDettaglio[5]}}
                        </div>
                        <div style="width: 70%; float: left;">
                            <div *ngIf="!modalitaInsert">
                                {{datiGiornata.Entrata}}
                            </div>
                            <div *ngIf="modalitaInsert">
                                <input type="text" [(ngModel)]="datiGiornata.Entrata" style="width: 50%;" />
                            </div>
                        </div>
                    </div>
                    <br />

                    <div *ngIf="tipoOre == 1 || tipoOre == 5" class="riga">
                        <div style="width: 30%; float: left; white-space: nowrap; overflow: hidden;">
                            {{titoloDettaglio[6]}}
                        </div>
                        <div style="width: 70%; float: left;">
                            <div *ngIf="!modalitaInsert">
                                {{datiGiornata.Lavoro}}
                            </div>
                            <div *ngIf="modalitaInsert">
                                <select [(ngModel)]="datiGiornata.Lavoro" (click)="clickLavoro()" style="width: 100%;">
                                    <option *ngFor="let lavori of dati.Lavori" 
                                        [value]="lavori.Lavoro" 
                                        [attr.selected]="lavori.idLavoro == datiGiornata.idLavoro ? true : null">
                                        {{lavori.Lavoro}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div *ngIf="tipoOre == 1 || tipoOre == 5" class="riga">
                        <div style="width: 30%; float: left; white-space: nowrap; overflow: hidden;">
                            {{titoloDettaglio[7]}}
                        </div>
                        <div style="width: 70%; float: left;">
                            <div *ngIf="!modalitaInsert">
                                {{datiGiornata.Commessa}}
                            </div>
                            <div *ngIf="modalitaInsert">
                                <select [(ngModel)]="datiGiornata.Commessa" (click)="clickCommessa()" style="width: 100%;">
                                    <option *ngFor="let c of commesse" 
                                        [value]="c.Descrizione" 
                                        [attr.selected]="c.idCommessa == datiGiornata.codCommessa ? true : null">
                                        {{c.Descrizione}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="width: calc(30% - 14px);
                float: left;
                height: calc(100% - 13px);
                border-left: 1px solid #999;
                padding: 3px;
                margin: 3px;
                border: 1px solid #999;
                -webkit-box-shadow: 1px 1px 8px 0px #000000; 
                box-shadow: 1px 1px 8px 0px #000000;
                background-color: #e8ffeb;
                border-radius: 3px;">
                <div style="width: 100%; height: 19px; text-align: center;">
                    <div  class="sfondoTitolo">
                        Tempo
                    </div>
                </div>

                <!-- TEMPO -->
                <div *ngIf="tipoOre == 1 || tipoOre == 5" class="blocco" style="height: calc(100% - 25px); margin-top: 2px; opacity: .75;"
                    [style.background-position]="immagineTempo ? 'right' : ''"
                    [style.background-size]="immagineTempo ? 'contain' : ''"
                    [style.background-repeat]="immagineTempo ? 'no-repeat' : ''"
                    [style.background-image]="immagineTempo ? 'url(' + immagineTempo + ')' : ''"
                >
                    <div *ngIf="tipoOre == 1" class="dettaglio">
                        <!-- <div style="width: 30%; float: left;">
                            Tempo:
                        </div> -->
                        <div style="width: 100%; float: left;">
                            <div *ngIf="giornoInserito && !modalitaInsert">
                                {{datiGiornata.Tempo}} <span *ngIf="datiGiornata.Gradi">({{datiGiornata.Gradi}}°)</span>
                            </div>
                            <div *ngIf="modalitaInsert">
                                <div style="width: 30%; float: left;">
                                    {{titoloTempo[0]}}
                                </div>
                                <div style="width: 70%; float: left;">
                                    <select [(ngModel)]="datiGiornata.Tempo" (click)="clickTempo()">
                                        <option *ngFor="let tempi of dati.Tempi" 
                                            [value]="tempi.Tempo" 
                                            [attr.selected]="tempi.Tempo == datiGiornata.Tempo ? true : null">
                                            {{tempi.Tempo}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="modalitaInsert">
                            <div style="width: 30%; float: left;">
                                {{titoloTempo[1]}}
                            </div>
                            <div style="width: 70%; float: left;">
                                <input type="text" [(ngModel)]="datiGiornata.Gradi" style="width: 50%;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>

        <div style="width: 100%; height: calc(25% - 12px);
            float: left;
            
            background-color: aliceblue;">
            <!-- PRANZO -->
            <div style="width: calc(50% - 14px);
                float: left;
                height: calc(100% - 12px);
                padding: 3px;
                overflow: hidden;
                margin: 3px;
                border: 1px solid #999;
                -webkit-box-shadow: 1px 1px 8px 0px #000000; 
                box-shadow: 1px 1px 8px 0px #000000;
                background-color: #e8ffeb;
                border-radius: 3px;">
                <div style="width: 100%; height: 23px; float: left; text-align: center;" class="sfondoTitolo">
                    Pranzo
                </div>

                <div *ngIf="tipoOre == 1 || tipoOre == 5" class="blocco" style="margin-top: 25px; height: calc(100% - 29px); opacity: .75;
                    background-position: right;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url('assets/immagini/portate.png');"
                >
                    <div *ngIf="!modalitaInsert && tipoOre == 1 && datiGiornata && datiGiornata.Pranzo && datiGiornata.Pranzo.length > 0">
                        <div *ngFor="let pranzo of datiGiornata.Pranzo">
                            <div *ngIf="!modalitaInsert">
                                {{pranzo.Portata}}
                            </div>
                        </div>
                    </div>

                    <div *ngIf="modalitaInsert">
                        <div style="width: 40%; float: left; margin-bottom: 3px;">
                            Portata:
                        </div>
                        <div style="width: 60%; float: left; margin-bottom: 3px;">
                            <select [(ngModel)]="datiGiornata.Pranzo.Portata" (click)="clickPranzo()" style="width: 100%;">
                                <option *ngFor="let p of dati.Portate"
                                    [value]="p.Portata" 
                                    [attr.selected]="p.Portata == datiGiornata.Pranzo.Portata ? true : null">
                                    {{p.Portata}}
                                </option>
                            </select>
                        </div>
                        
                        <table style="width: 100%; border-top: 1px solid #999;" cellapdding="0" cellspacing = "0">
                            <tr *ngFor="let pranzo of datiGiornata.Pranzo; let i = index" [attr.data-index] = "i" class="rigaTabella">
                                <td>
                                    {{pranzo.Portata}}
                                </td>
                                <td>
                                    <img src="assets/immagini/icona_ELIMINA-TAG.png" class="immagineTabella" (click)="eliminaPranzo(pranzo)" />
                                </td>
                                <td>
                                    <img src="assets/immagini/icona_SU.png" class="immagineTabella" (click)="spostaSuPranzo(pranzo, i)" />
                                </td>
                                <td>
                                    <img src="assets/immagini/icona_GIU.png" class="immagineTabella" (click)="spostaGiuPranzo(pranzo, i)" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div style="width: calc(50% - 15px);
                float: left;
                border-left: 1px solid #999;
                height: calc(100% - 12px);
                padding: 3px;
                border: 1px solid #999;
                background-color: #e8ffeb;
                -webkit-box-shadow: 1px 1px 8px 0px #000000; 
                box-shadow: 1px 1px 8px 0px #000000;
                border-radius: 3px;
                margin: 3px;">
                <div style="width: 100%; height: 23px; float: left; text-align: center;" class="sfondoTitolo">
                    Pasticca
                </div>
                <div *ngIf="tipoOre == 1 || tipoOre == 5" class="blocco" style="margin-top: 25px; height: calc(100% - 29px); opacity: .75;
                    background-position: right;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url('assets/immagini/pasticca.png');"
                >
                    <div *ngIf="tipoOre == 1 && datiGiornata">
                        <div *ngIf="!modalitaInsert">
                            {{datiGiornata.Pasticca}}
                        </div>
                        <div *ngIf="modalitaInsert">
                            <div style="width: calc(40% - 15px); float: left; margin-bottom: 3px;">
                                Pasticca:
                            </div>
                            <div style="width: calc(60% - 15px); float: left; margin-bottom: 3px;">
                                <select [(ngModel)]="datiGiornata.Pasticca" (click)="clickPasticca()" style="width: 100%;">
                                    <option *ngFor="let p of dati.Pasticche" 
                                        [value]="p.Pasticca" 
                                        [attr.selected]="p.Pasticca == datiGiornata.Pasticca ? true : null">
                                        {{p.Pasticca}}
                                    </option>
                                </select>
                            </div>
                            <div style="width: 30px; float: left; margin-top: -1px; text-align: left;">
                                <img *ngIf="datiGiornata.Pasticca" src="assets/immagini/icona_ELIMINA-TAG.png" class="immagineTabella" (click)="eliminaPasticca()" />
                                <span *ngIf="!datiGiornata.Pasticca">&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 100%; height: 30%; float: left; overflow: hidden; background-color: aliceblue;">
            <!-- MEZZI -->
            <div style="width: calc(50% - 14px);
                float: left;
                height: calc(100% - 12px);
                padding: 3px;
                margin: 3px;
                -webkit-box-shadow: 1px 1px 8px 0px #000000; 
                box-shadow: 1px 1px 8px 0px #000000;
                border: 1px solid #999;
                background-color: #e8ffeb;
                border-radius: 3px;">
                <div style="width: 100%; height: 23px; float: left; text-align: center;" class="sfondoTitolo">
                    Mezzi di Andata
                </div>
                <div *ngIf="tipoOre == 1 || tipoOre == 5" class="blocco" style="margin-top: 25px; height: calc(100% - 29px); opacity: .75;
                    background-position: right;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url('assets/immagini/Mezzi.png');"
                >
                    <div *ngIf="!modalitaInsert && tipoOre == 1 && datiGiornata && datiGiornata.MezziAndata && datiGiornata.MezziAndata.length > 0">
                        <div *ngIf="!modalitaInsert">
                            <div *ngFor="let mezzo of datiGiornata.MezziAndata">
                                {{mezzo.Mezzo}} {{mezzo.Dettaglio}}
                            </div>
                        </div>
                    </div>

                    <div *ngIf="modalitaInsert">
                        <div style="width: 40%; float: left; margin-bottom: 3px;">
                            Mezzo:
                        </div>
                        <div style="width: 60%; float: left; margin-bottom: 3px;">
                            <select [(ngModel)]="mezzoAndataScelto" (click)="clickAggiungeMezzoAndata()" style="width: 100%;">
                                <option *ngFor="let m of dati.Mezzi">
                                    {{m.Mezzo}}&nbsp;{{m.Dettaglio}}
                                </option>
                            </select>
                        </div>
                        
                        <table style="width: 100%; border-top: 1px solid #999;" cellapdding="0" cellspacing = "0">
                            <tr *ngFor="let mezzo of datiGiornata.MezziAndata; let i = index" [attr.data-index] = "i" class="rigaTabella">
                                <td>
                                    {{mezzo.Mezzo}}
                                </td>
                                <td>
                                    {{mezzo.Dettaglio}}
                                </td>
                                <td>
                                    <img src="assets/immagini/icona_ELIMINA-TAG.png" class="immagineTabella" (click)="eliminaMezzoDiAndata(mezzo)" />
                                </td>
                                <td>
                                    <img src="assets/immagini/icona_SU.png" class="immagineTabella" (click)="spostaSuMezzoDiAndata(mezzo, i)" />
                                </td>
                                <td>
                                    <img src="assets/immagini/icona_GIU.png" class="immagineTabella" (click)="spostaGiuMezzoDiAndata(mezzo, i)" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div style="width: calc(50% - 14px);
                float: left;
                border-left: 1px solid #999;
                height: calc(100% - 12px);
                padding: 3px;
                margin: 3px;
                border: 1px solid #999;
                -webkit-box-shadow: 1px 1px 8px 0px #000000; 
                box-shadow: 1px 1px 8px 0px #000000;
                background-color: #e8ffeb;
                border-radius: 3px;">
                <div style="width: 100%; height: 23px; float: left; text-align: center;" class="sfondoTitolo">
                    Mezzi di Ritorno
                </div>

                <div *ngIf="tipoOre == 1 || tipoOre == 5" class="blocco" style="margin-top: 25px; height: calc(100% - 29px); opacity: .75;
                    background-position: right;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url('assets/immagini/Mezzi.png');"
                >
                    <div *ngIf="!modalitaInsert && tipoOre == 1 && datiGiornata && datiGiornata.MezziRitorno && datiGiornata.MezziRitorno.length > 0">
                        <div *ngFor="let mezzo of datiGiornata.MezziRitorno">
                            <div *ngIf="!modalitaInsert">
                                {{mezzo.Mezzo}} {{mezzo.Dettaglio}}
                            </div>
                        </div>
                    </div>

                    <div *ngIf="modalitaInsert">
                        <div style="width: 40%; float: left; margin-bottom: 3px;">
                            Mezzo:
                        </div>
                        <div style="width: 60%; float: left; margin-bottom: 3px;">
                            <select [(ngModel)]="mezzoRitornoScelto" (click)="clickAggiungeMezzoRitorno()" style="width: 100%;">
                                <option *ngFor="let m of dati.Mezzi">
                                    {{m.Mezzo}}&nbsp;{{m.Dettaglio}}
                                </option>
                            </select>
                        </div>
                        
                        <table style="width: 100%; border-top: 1px solid #999;" cellapdding="0" cellspacing = "0">
                            <tr *ngFor="let mezzo of datiGiornata.MezziRitorno; let i = index" [attr.data-index] = "i" class="rigaTabella">
                                <td>
                                    {{mezzo.Mezzo}}
                                </td>
                                <td>
                                    {{mezzo.Dettaglio}}
                                </td>
                                <td>
                                    <img src="assets/immagini/icona_ELIMINA-TAG.png" class="immagineTabella" (click)="eliminaMezzoDiRitorno(mezzo)" />
                                </td>
                                <td>
                                    <img src="assets/immagini/icona_SU.png" class="immagineTabella" (click)="spostaSuMezzoDiRitorno(mezzo, i)" />
                                </td>
                                <td>
                                    <img src="assets/immagini/icona_GIU.png" class="immagineTabella" (click)="spostaGiuMezzoDiRitorno(mezzo, i)" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 100%; height: 17%; float: left; overflow: hidden; background-color: aliceblue;">
            <div style="width: calc(100% - 13px);
                float: left;
                height: calc(100% - 12px);
                padding: 3px;
                margin: 3px;
                border: 1px solid #999;
                -webkit-box-shadow: 1px 1px 8px 0px #000000; 
                box-shadow: 1px 1px 8px 0px #000000;
                background-color: #e8ffeb;
                border-radius: 3px;">
                <!-- NOTE -->
                <div style="width: 100%; height: 23px; text-align: center;" class="sfondoTitolo">
                    Note
                </div>
                <div class="blocco" style="margin-top: 2px; height: calc(100% - 30px); opacity: .75;
                    background-position: right;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url('assets/immagini/note.png');"
                >
                    <div *ngIf="!modalitaInsert" style="white-space: break-spaces; width: 100%; height: 100%;" [innerHTML]="datiGiornata.Notelle">
                    </div>
                    <div *ngIf="modalitaInsert" style="width: calc(100% - 7px); height: 100%;">
                        <textarea [(ngModel)]="datiGiornata.Notelle" style="width: 100%; height: calc(100% - 10px); margin-top: 3px;"></textarea>
                    </div>
                </div>
            </div>
        </div>
     </div>

    <div class="footer">
        <!-- FOOTER -->
        <div style="width: 100%; height: calc(100% - 55px); float: left;">
            <div class="blocco" style="background-color: transparent;">
                <table style="width: 100%; height: 100%;">
                    <tr>
                        <td style="width: 10%; border: 1px solid #999; border-radius: 5px;"
                            [style.background-position]="immagineSanto ? 'top' : ''"
                            [style.background-size]="immagineSanto ? 'cover' : ''"
                            [style.background-repeat]="immagineSanto ? 'no-repeat' : ''"
                            [style.background-image]="immagineSanto ? 'url(' + immagineSanto + ')' : ''"
                            (click)="apreDescSanto()"
                        >
                        </td>
                        <td style="width: 90%;">
                            <table style="width: 100%; height: 100%;">
                                <tr style="height: 30px;">
                                    <td class="testoFooter">
                                        <span *ngIf="datiGiornata">
                                            S. {{datiGiornata.Santo}}
                                        </span>
                                        <span *ngIf="!datiGiornata">
                                            &nbsp;
                                        </span>
                                    </td>
                                    <td class="testoFooter">
                                        {{titoloGiornoAnno}} {{giornoDellAnno}}
                                    </td>
                                    <td class="testoFooter">
                                        {{titoloMancantiAnno}} {{giorniMancanti}}
                                    </td>
                                    <td class="testoFooter">
                                        {{titoloLavorativi}} {{lavorativi}}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="blocco" 
                                            style="font-size: 10px; text-align: left; 
                                                height: 100%;
                                                padding: 0px;
                                                background-color: #b7f1c0;" 
                                            [innerHTML]="ricorrenze">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="width: 100%; height: 50px; float: left; padding-top: 3px;">
            <div style="width: 60px; float: left;">
                <img src="assets/immagini/icona_INDIETRO.png" class="immagineIcona" (click)="indietroGiorno()" />
            </div>
            <div style="width: calc(50% - 60px); float: left;">
                <img *ngIf="!modalitaInsert" src="assets/immagini/icona_MODIFICA-TAG.png" class="immagineIcona" (click)="apreModifica()" />
                <img *ngIf="modalitaInsert" src="assets/immagini/icona_SALVA.png" class="immagineIcona" (click)="salvaGiornata()" />
                <img *ngIf="modalitaInsert" src="assets/immagini/elimina_quadrato.png" class="immagineIcona" (click)="annullaModifica()" />
            </div>
            <div style="width: calc(50% - 60px); float: left; text-align: right;">
                <img src="assets/immagini/icona-EQUALIZZATORE.png" class="immagineIcona" (click)="apreImpostazioni()" />
                <img src="assets/immagini/icona-PLAYLIST.png" class="immagineIcona" (click)="apreStatistiche()" />
            </div>
            <div style="width: 60px; float: left;">
                <img src="assets/immagini/icona_AVANTI.png" class="immagineIcona" (click)="avantiGiorno()" />
            </div>
        </div>
    </div>
</div>

<!-- <modificagiorno-component
    *ngIf="modificaGiorno"
    [dataAttuale]="dataAttuale"
    [datiGiornata]="datiGiornata"

    (visibile)="modificaGiorno = !modificaGiorno"
></modificagiorno-component>

<div class="calendario">
    <div style="float: left; width: 220px; margin-top: 2px; height: auto;">
        <app-calendario
            [Utils]="Utils"
            [apreConHover]="false"
            [chiusuraAutomatica]="false"
            [dataPassata]="dataAttuale"
            [larghezzaData]="200"

            (dataSelezionata)="impostaData($event)"
        >
        </app-calendario>
    </div>
    <!- - <div style="float: left; width: 25px; height: 25px;">
        <img src="assets/immagini/elimina_quadrato.png" class="immagineTabella"  (click)="mostraCalendario = false" />
    </div> - ->
</div> -->

<div *ngIf="mostraImpostazioni" class="visuaImpostazioni">
    <modificagiorno-component
        [Utils]="Utils"
        [dataAttuale]="dataAttuale"
        [rimetteGiornoSelezionato]="rimetteGiornoSelezionato"

        (cambioRicordaGiornoEmit)="cambioImpostazioni($event)"
    >
    </modificagiorno-component>

    <img src="assets/immagini/elimina_quadrato.png" class="immagine" style="position: absolute; right: 0px; top: 0px;"
        (click)="mostraImpostazioni = false;" />
</div>

<div *ngIf="visuaDescSanto" class="descSanto">
    <div class="blocco" 
        style="font-size: 18px;
            width: calc(100% - 30px);
            overflow: auto;
            text-align: left;
            height: 100%;
            font-family: math;
            padding: 0px;" 
        [innerHTML]="descSanto">
    </div>

    <img src="assets/immagini/elimina_quadrato.png" class="immagine" style="position: absolute; right: 0px; top: 0px;"
        (click)="visuaDescSanto = false;" />
</div>

<div *ngIf="VariabiliGlobali.CaricamentoInCorso" class="attenderePrego">
    <img src="assets/immagini/Processing.gif" class="immagineWait" />
</div>