.finestra {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 3px;
    background-color: white;
    box-shadow: 1px 1px 8px 0px #000000;
}

.titolo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: red;
    border-bottom: 1px solid #999;
    height: 35px;
    width: calc(100% - 30px);
    text-align: center;
    float: left;
}

.chiusura {
    width: 30px;
    height: 35px;
    background-image: url('./../../assets/immagini/elimina_quadrato.png');
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    border-bottom: 1px solid #999;
    cursor: pointer;
}

.corpo {
    width: 100%;
    height: calc(100% - 35px);
    overflow: auto;
    float: left;
}

.immagineTabella {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.riga {
    width: 100%; float: left;
}

.titolino {
    width: 30%;
    float: left;
    font-family: math;
    font-size: 35px;
}

.dettaglio {
    width: 70%;
    float: left;
}

.popupPortate {
    font-family: math;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 3px;
    background-color: #fff7d5;
    box-shadow: 1px 1px 8px 0px #000000;
    z-index: 1001;
}

.popupModificaPortata {
    font-family: math;
    width: 40%;
    height: auto;
    position: absolute;
    left: 30%;
    top: 40%;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 3px;
    background-color: #faffa3;
    box-shadow: 1px 1px 8px 0px #000000;
    z-index: 1002;
}